---
import Container from "@/components/Container.astro";
import Layout from "@/components/Layout.astro";
import Masthead from "@/components/Masthead.astro";
import Prose from "@/components/Prose.astro";
---

<Layout title="Обо мне">
  <Container>
    <Masthead title="Обо мне" />
    <Prose>
      <p>
        Я являюсь фронтенд-разработчиком, специализируюсь на создании современных веб-приложений с использованием Vue,
        Nuxt, Parcel, Astro. Мне нравится разрабатывать отзывчивые и интерактивные интерфейсы, и я придаю большое
        значение чистоте кода и лучшим практикам в UX/UI-дизайне.
      </p>
      <p>
        Мое увлечение программированием началось еще в 5 классе, тогда я старался разобраться, как написать небольшой
        скрипт на AHK для любимой игры. Этот первый шаг открыл для меня мир возможностей, и вскоре я начал посещать
        тематические кружки и участвовать в олимпиадах по программированию, даже занимал места. С течением времени я
        поступил в колледж по специальности. Образование помогло мне освоить проектирование баз данных и просто
        программирование в плане алгоритмов, популярных практик.
      </p>
      <p>
        На текущем этапе своей жизни, я работаю в Программном продукте и делаю заказы на фрилансе, параллельно всему
        этому практикую верстку и развиваюсь в сторону серверной разработки на NestJs, весь код выкладываю на Github.
      </p>
      <p>
        Помимо программирования, увлекаюсь еще пленочной фотографией и стараюсь максимально развиваться в разные
        стороны.
      </p>
    </Prose>
    <Prose className="mt-12 lg:mt-16">
      <h2 class="mb-4 lg:mb-12 text-2xl font-semibold tracking-tight leading-none text-gray-900 dark:text-white">
        Экспертиза
      </h2>
      <div class="lg:flex lg:flex-col lg:gap-8">
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">Дизайн</h3>
          <p class="lg:my-0">
            Я разрабатываю чистые, интуитивно понятные интерфейсы, которые ставят пользователя на первое место. Каждый
            элемент служит определенной цели, а цель всегда одна и та же: сделать его простой, удобный и приятный в
            использовании.
          </p>
        </div>
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">Разработка</h3>
          <p class="lg:my-0">
            Я превращаю дизайн в быстрые, доступные и отзывчивые приложения. Мой код чистый, масштабируемый и тщательно
            продуманный от начала до конца.
          </p>
        </div>
        <div class="lg:flex lg:gap-12 lg:items-baseline">
          <h3 class="lg:w-40 shrink-0 lg:my-0 lg:font-normal lg:text-lg">Консультации</h3>
          <p class="lg:my-0">
            Я анализирую базы кода, выявляю проблемы и предлагаю практические способы повышения производительности,
            удобства обслуживания и структуры. Будь то очистка устаревшего кода или планирование масштабирования, я
            помогаю командам уверенно продвигаться вперед.
          </p>
        </div>
      </div>
    </Prose>
  </Container>
</Layout>
