---
import Container from "@/components/Container.astro";
import Layout from "@/components/Layout.astro";
import Masthead from "@/components/Masthead.astro";
import Prose from "@/components/Prose.astro";
import { GITHUB_URL, TELEGRAM_URL } from "@/consts";
---

<Layout title="Контакты">
  <Container>
    <Masthead title="Контакты" />
    <Prose>
      <p>
        Я всегда открыт для обсуждения новых проектов, творческих идей или возможностей быть частью ваших видений. Не
        стесняйтесь связаться со мной, если у вас есть какие-либо вопросы, или просто хотите поздороваться. Я сделаю все
        возможное, чтобы ответить вам как можно быстрее.
      </p>
      <p>
        Вы можете связаться со мной в телеграме: <a href={TELEGRAM_URL} class="link">@anyboom</a>
      </p>
      <h2>Социальные сети</h2>
      <p>А еще вы можете найти в разных местах</p>
      <ul>
        <li><a href={GITHUB_URL}>ГитХаб</a></li>
      </ul>
    </Prose>
  </Container>
</Layout>
