---
import Container from "../components/Container.astro";
import Layout from "../components/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Prose from "../components/Prose.astro";
---

<Layout
  title="Что я использую в работе"
>
  <Container>
    <Masthead title="Что я использую в работе" />
    <Prose>
      <h2>Редактор и терминал</h2>
      <ul>
        <li>Редактор: <a href="https://www.jetbrains.com/webstorm/">WebStorm</a></li>
        <li>
          Тема: <a href="https://catppuccin.com/">One Dark</a>
        </li>
        <li>Терминал: <a href="https://ghostty.org">Window Terminal</a></li>
      </ul>
      <h2>Приложения</h2>
      <ul>
        <li>Yandex Music</li>
        <li>Navicat</li>
        <li>Sublime Text</li>
        <li>Firefox developer edition</li>
        <li>LightShot</li>
        <li>Figma</li>
        <li>Pixelmator Pro</li>
      </ul>
      <h2>Код</h2>
      <p>
        JavaScript, TypeScript, Node, Vue,
        Nuxt, Vitest, Testing Library, Axios, Pinia, TanStack Query, Fastify, Express, AdminJs, Bitrix,
        Cypress, Playwright, PostCSS, Tailwind CSS, MongoDB, Postgres, Nest, Prisma, Strapi, Parcel, Astro, Sass, PrimeVue, Kubernetes, Docker, Nginx, Caddy, Redis
      </p>
      <p><small>Последнее обновление: 2025-05-31</small></p>
    </Prose>
  </Container>
</Layout>
