---
import { GITHUB_URL } from "@/consts";
import Container from "@/components/Container.astro";
import HeaderLink from "@/components/HeaderLink.astro";

const today = new Date();
---

<footer>
  <Container className="flex justify-end py-8 pt-16 md:pt-40 md:pb-20">
    <div class="text-right">
      <nav class="text-sm md:text-base">
        <ul class="flex flex-col gap-4 md:gap-8 sm:flex-row justify-end">
          <li>
            <HeaderLink href="/uses">Что я использую</HeaderLink>
          </li>
          <li>
            <HeaderLink href={GITHUB_URL}>ГитХаб</HeaderLink>
          </li>
        </ul>
      </nav>
      <span class="text-gray-600 dark:text-gray-400 mt-4 block sm:mt-2 text-sm">
        &copy; {today.getFullYear()} Даниил Волков
      </span>
    </div>
  </Container>
</footer>
