---
import Logo from "@/components/Logo.astro";
import Container from "@/components/Container.astro";
import HeaderLink from "@/components/HeaderLink.astro";
---

<nav class="py-3 md:py-5 lg:py-10">
  <Container className="flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" aria-label="Home">
      <Logo />
    </a>
    <div id="navbar-default">
      <ul class="text-sm md:text-base font-medium flex gap-4 md:gap-8 rtl:space-x-reverse">
        <li>
          <HeaderLink href="/">Главная</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/about">Обо мне</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/contact">Контакты</HeaderLink>
        </li>
      </ul>
    </div>
  </Container>
</nav>
