---
import { SEO, type SEOProps } from "astro-seo";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import "@/styles/global.css";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";

export interface Props extends SEOProps {}

const { props } = Astro;

const title = props.title || SITE_TITLE;
const description = props.description || SITE_DESCRIPTION;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Даниил Волков" />
    <link rel="manifest" href="/site.webmanifest" />
    <SEO
      title={title}
      description={description}
      {...props}
      extend={{
        meta: [{ name: "viewport", content: "width=device-width, initial-scale=1" }],
        ...props.extend,
      }}
    />
  </head>
  <body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-200 font-sans">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
